<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://cdn.dribbble.com/users/11704671/screenshots/19045014/media/2349f6eb631ca45cbd8c5b24ce381b32.jpg?resize=400x300&vertical=center" alt="Logo" style="width: 90px; height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="row w-100">
          <div class="col-6 text-right">
            <ul class="navbar-nav d-inline-flex justify-content-end">
              <li class="nav-item me-3">
                <a class="nav-link custom-nav-link" href="#">Yogesh Furniture</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link custom-nav-link" href="#">Home</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link custom-nav-link" href="#our-products">Products</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link custom-nav-link" href="#">Services</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link custom-nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
  
          <!-- Second Column for the Button -->
          <div class="col-6 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-danger d-flex align-items-center" style="border-radius: 50px;">
              <i class="fas fa-user-shield me-2"></i> Admin section
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  